/* minor tweaks */

::-webkit-scrollbar {
  display: none;
  /* width: 0px; */
}

::-moz-selection {
  color: #111;
  background: #ffd700;
}

::selection {
  color: #111;
  background: #ffd700;
}

.qlogo {
  min-width: 100px;
  max-width: 25%;
}

td {
  text-align: center;
}
